<p>Welcome to my open atom design library, feel free to add a comment to add comment</p>
<p>Nothing binding will happen ;)</p>

<!-- Simple example to debug p atom -->
<div>
  <atom-p
    [class]="'text-blue'"
    [id]="'firstAtomP'"
  >
    This is a p atom
  </atom-p>
  <atom-p
    [class]="'text-red'"
    [id]="'secondAtomP'"
    [dir]="'rtl'"
    [contentEditable]=true
  >
    This is a second p atom  <--
  </atom-p>
</div>

<!-- Simple example to debug a atom -->
<div>
  <div>
    <atom-p>Atom a using router link</atom-p>
    <atom-a
      [id]="'firstAtomA'"
      [link]="resetPasswordLink"
    >
      Reset password
    </atom-a>
  </div>
  <atom-p>Atom a using href</atom-p>
  <div>
    <atom-a
      [id]="'secondAtomA'"
      [href]="baeldungLink"
    >
      These guys are good ..
    </atom-a>
  </div>
  <atom-p>Atom a using href + routerLink</atom-p>
  <div>
    <atom-a
      [id]="'secondAtomA'"
      [href]="baeldungLink"
      [link]="resetPasswordLink"
    >
      Dude this component need to be refactored
    </atom-a>
  </div>
</div>

<!-- Simple example to debug h atom -->
